<h3>Create an Account</h3>

<form class="ui form" [formGroup]='authForm'>


    <app-input label="Username" inputType="text" [control]="authForm.get('username')"></app-input>
    <app-input label="Password" inputType="password" [control]="authForm.get('password')"></app-input>
    <app-input label="Password Confirmation" inputType="password" [control]="authForm.get('passwordConfirmation')">
    </app-input>


    <div *ngIf="authForm.get('password').touched && authForm.get('passwordConfirmation').touched && authForm.errors"
        class="ui red basic label">
        <p *ngIf="authForm.errors.passwordsDontMatch">

        </p>
    </div>

    <button class="ui submin button primary">
        Submit
    </button>

    {{ authForm.errors | json}}
</form>